*DS_Store
*~$*
/.idea/
/Pacemaker_DCM/build/
/Pacemaker_DCM/dist/
/Pacemaker_DCM/nbproject/private/
/Pacemaker_DCM/userData.txt
/Pacemaker_DCM/assets/heart_animation_png
/Pacemaker_DCM/assets/heart_animation_ascii_INSANE_RES